.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    width: 100%;
    height: 50px;
}

.home{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.like-nav{
    color: white;
    text-decoration: none;
    cursor: pointer;
}