@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --dark:#2b2d42;
    --light:#abd5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1589.84 315.77C1476.21 315.56 1365.3 245.77 1140.76 245.77 916.21 245.77 928.36 319.7 691.67 315.77 454.98 311.84 386.24-31.32 242.59-54.08' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1547.14 283.5C1364.35 278.36 1135.69 12.87 869.11 9.1 602.54 5.33 615.64-37.12 530.1-37.23' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1606.01 250.06C1486.62 249.87 1369.81 180.06 1133.6 180.06 897.4 180.06 904.99 251.96 661.2 250.06 417.4 248.16 329.61-47.9 188.79-61.51' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1583.37 158.02C1461.75 166.86 1382.89 407.45 1162.43 404.42 941.97 401.39 898.3-52.88 741.49-104.71' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1607.34 270.3C1441.57 265.78 1235.34 28.15 991.46 23.9 747.58 19.65 762.33-43.18 683.52-43.57' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

a{
    text-decoration: none; 
    font-family: 'Lato', sans-serif;
    color: wheat;
}

.container{
    max-width: 1124px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;

}

.border-shadow{
    border: 2px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: wheat
}

.inline{
    display: inline-block;
}

.text-light{
    color: rgb(95, 173, 16);
}

.text-gradient{
    background:rgb(233, 224, 224);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header{
    background-color: rgba(0, 0, 0, 0.726);
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 2px;
    font-family: 'Nunito Sans', sans-serif;
}

#site-main .container .box-nav{
    font-size: 1em;
    padding: 5em 1em;
}

#site-main .container from{
    margin: 1em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td>a.btn{
    padding: .1rem 1rem ;
    font-size: 1.1rem;
    margin: 0.1rem;
}

.table tr:hover{
   background-color: rgb(204, 159, 130);
}

.table tr:hover td>a{
    box-shadow: none;
}

.table .thead-dark th{
    color: whitesmoke;
    background-color: var(--dark);
    border-color: rgb(20, 15, 15);
}

@media only screen and (max-width:1024px){
    table,thead,tbody,th,td,tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr{
        border: 1px solid var(--border);
    }

    td{
        border: none;
        position: relative;
    }
}


.form-title{
    margin-top: 1rem;
}

.form-title >h2{
    padding: 1rem 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group, #add .form-group{
    margin: 10px 0;
}

#update_user .form-group input[type = "text"],#add .form-group input[type = "text"]{
    width: 100%;
    padding: 7px 2px;
    margin: 3px 0;
    border: 2px solid var(--border);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 12px;
}

#update_user .form-group input[type = "number"] ,#add .form-group input[type = "number"]{
    border: 2px solid var(--border);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 5px;
}

#update_user .form-group input[type = "radio"] ,#add .form-group input[type = "radio"]{
    margin: 5px 7px;
}

.radio input[type ="radio"]{
    position: absolute;
    opacity: 0;
}

.radio input[type ="radio"] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-left: .7em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;

}

.radio input[type ="radio"]:checked+ .radio-label:before{
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 4px rgb(216, 212, 212);
}

.radio input[type ="radio"]:focus+ .radio-label:before{
    outline: none;
    border-color: rgb(190, 120, 190);
}

.radio input[type ="radio"]:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px rgb(216, 212, 212);
    border-color: #b4b4b4;
    background-color: #b4b4b4;
}

#update_user .form-group .btn , #add .form-group .btn{
width: 100%;
padding: .9em 1em;
background: rgb(13, 33, 36);
border: none;
font-family: 'Lato', sans-serif;
font-size: 15.5px;
cursor: pointer;
border-radius: 5px;
margin: .5rem 0;
}

#update_user .form-group .btn:hover, #add .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}